<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
            id="menu_account_customer_pay_in_out"
            name="Products IN/OUT"
            groups="stock.group_stock_user"
            parent="account.menu_finance_receivables"
            action="product_product_action_in_out"
            />

    <menuitem
            id="menu_inventory_in_out_overview"
            name="Inventory Overview"
            parent="account.menu_finance_receivables"
            action="action_menu_inventory_in_out_overview"
            />

<!--    <menuitem-->
<!--            id="menu_inventory_in_out_view_inherit"-->
<!--            name="Contact"-->
<!--            parent="account.menu_finance_receivables"-->
<!--            action="action_partner_form_contact_view_inherit"-->
<!--            />-->

</odoo>
